body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  background: linear-gradient(to right, #141E30, #243B55);
  color: #e0e0e0;
}

header {
  background-color: #1f1f1f;
  color: #ffa500;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ffa500;
}

.header-content h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-content p {
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #ff5733;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
  background-color: #1f1f1f;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
  color: #ffa500;
  border-bottom: 2px solid #ffa500;
  padding-bottom: 5px;
}

h3 {
  color: #ff5733;
}

p, ul {
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

a {
  color: #ffa500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1f1f1f;
  color: #e0e0e0;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ffa500;
}
