body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #292725; /* fourth-color */
    color: #e0e0e0; /* Light text color */
}

header {
    background-color: #292725; /* fourth-color */
    color: #ff6107; /* first-color for header text */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ff6107; /* first-color for links */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #e9290f; /* second-color for hover effect */
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #1e1e1e; /* Dark section background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

.project, .job, .section {
    margin-bottom: 20px;
}

h2 {
    color: #ff6107; /* first-color for h2 headings */
    margin-bottom: 10px;
    border-bottom: 2px solid #ff6107; /* first-color underline */
    padding-bottom: 5px;
}

h3 {
    color: #e9290f; /* second-color for h3 headings */
    margin-bottom: 10px;
}

h4 {
    color: #c40018; /* third-color for h4 headings */
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #292725; /* fourth-color for footer background */
    color: #ff6107; /* first-color for footer text */
    margin-top: 40px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    footer {
        position: static;
        margin-top: 20px;
    }
}
