body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #E0E0E0;
}

header {
  background-color: #1F1F1F;
  color: #F7C948;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #F7C948;
}

.header-content h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-content p {
  font-size: 1.2em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #FF6F61;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  color: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  background-color: #1F1F1F;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#powershell {
  background-color: #1f1f1f;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#powershell.visible {
  opacity: 1;
}

#powershell h2 {
  color: #F7C948;
  border-bottom: 2px solid #F7C948;
  padding-bottom: 5px;
}

#powershell p {
  color: #E0E0E0;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #121212;
  background-color: #F7C948;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #FF6F61;
}

section.visible {
  opacity: 1;
}

section h2 {
  color: #F7C948;
  border-bottom: 2px solid #F7C948;
  padding-bottom: 5px;
}

h3 {
  color: #FF6F61;
}

p, ul {
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

a {
  color: #FF6F61;
  text-decoration: none;
}

a:hover {
  color: #F7C948;
  text-decoration: underline;
}

footer {
  background-color: #1F1F1F;
  color: #E0E0E0;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
